<!DOCTYPE html>
<html>

<head>
  <title>{{main_page_info.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

  <h2>{{main_page_info.title}}</h2>

  {{#if commands}}
    <h3>Commands:</h3>
    <ul>{{#each commands}}
      <li><a href="/commands/{{id}}">{{description}}</a></li>{{/each}}
    </ul>
  {{/if}}

  {{#if proxies}}
    <h3>Proxies:</h3>
    <ul>{{#each proxies}}
      <li><a href="/proxies/{{id}}">{{description}}</a></li>{{/each}}
    </ul>
  {{/if}}

  <h3>Debugging:</h3>
  <ul>
    <li><a href="/configuration">configuration</a></li>
  </ul>

  <hr>

  <small>Page Generated: {{last_modified}}</small>

</body>

</html>
